@charset "UTF-8";
/****************** Googlemap Store ***********************/
/* line 4, sass/store.scss */
.footerWrapper {
  margin: 0 auto;
}

/* line 8, sass/store.scss */
.mapWrapper {
  position: relative;
}

/* line 13, sass/store.scss */
.locationFilterBar {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}
/* line 19, sass/store.scss */
.mobile .locationFilterBar {
  top: 70px;
}
/* line 23, sass/store.scss */
.locationFilterBar .pageCatItem {
  margin-bottom: 10px;
}
/* line 26, sass/store.scss */
.locationFilterBar .pageCatItem .label {
  letter-spacing: 1.5px;
}
/* line 31, sass/store.scss */
.locationFilterBar .selectricItems .disabled {
  display: none;
}
/* line 35, sass/store.scss */
.locationFilterBar .btnBackToMap {
  color: #000;
}
/* line 38, sass/store.scss */
.desktop .locationFilterBar .btnBackToMap, .tablet .locationFilterBar .btnBackToMap {
  display: none;
}
/* line 42, sass/store.scss */
.mobile .locationFilterBar .btnBackToMap {
  display: inline-block;
  margin: 10px 0;
}
/* line 48, sass/store.scss */
.locationFilterBar .commonBtn {
  display: block;
  text-align: center;
  margin: 20px auto;
}

/* line 55, sass/store.scss */
.mapCanvas {
  position: relative;
  width: 100%;
  height: 800px;
}
/* line 60, sass/store.scss */
.mapCanvas.show {
  display: block;
}
/* line 64, sass/store.scss */
.mapCanvas .labelPin {
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 56px;
  line-height: 1em;
  white-space: nowrap;
}

/* line 74, sass/store.scss */
.shopListContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
/* line 82, sass/store.scss */
.desktop .shopListContainer, .tablet .shopListContainer {
  left: -370px;
  width: 330px;
  padding: 120px 20px 20px;
}
/* line 88, sass/store.scss */
.mobile .shopListContainer {
  position: fixed;
  width: 100%;
  left: -100%;
  padding: 200px 0 20px;
}
/* line 95, sass/store.scss */
.shopListContainer.active {
  left: 0;
}
/* line 99, sass/store.scss */
.shopListContainer.show {
  display: block;
}
/* line 103, sass/store.scss */
.shopListContainer .btnToggleMapList {
  position: absolute;
  top: 150px;
  right: -50px;
  background-color: #000;
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
}
/* line 113, sass/store.scss */
.shopListContainer .btnToggleMapList:before {
  color: #fff;
  line-height: 50px;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 119, sass/store.scss */
.shopListContainer.active .btnToggleMapList:before {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 123, sass/store.scss */
.shopListContainer .shopListWrapper {
  height: 100%;
}
/* line 125, sass/store.scss */
.mobile .shopListContainer .shopListWrapper {
  padding: 0 20px 0;
}
/* line 129, sass/store.scss */
.shopListContainer .shopList {
  position: relative;
  height: 100%;
  overflow: auto;
}
/* line 135, sass/store.scss */
.shopListContainer .locTitle {
  position: relative;
  display: none;
  color: #000;
  font-size: 20px;
  line-height: 1.3em;
  padding-bottom: 10px;
  margin: 30px 0 20px;
}
/* line 144, sass/store.scss */
.shopListContainer .locTitle:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: #000;
}
/* line 154, sass/store.scss */
.shopListContainer .locTitle.show {
  display: block;
}
/* line 159, sass/store.scss */
.shopListContainer .shopItem {
  display: none;
  position: relative;
  margin-bottom: 40px;
}
/* line 164, sass/store.scss */
.shopListContainer .shopItem.show {
  display: block;
}
/* line 168, sass/store.scss */
.shopListContainer .shopItem[data-region="china"].show {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 10px;
}
/* line 173, sass/store.scss */
.shopListContainer .shopItem[data-region="china"].show .shopName {
  font-size: 14px;
  margin: 0;
}
/* line 174, sass/store.scss */
.shopListContainer .shopItem[data-region="china"].show .shopName:before {
  content: '•';
  margin-right: 10px;
}
/* line 183, sass/store.scss */
.shopListContainer .shopItem .pinLink {
  position: relative;
  display: block;
  color: #000;
}
/* line 188, sass/store.scss */
.mobile .shopListContainer .shopItem .pinLink {
  padding-right: 20px;
}
/* line 192, sass/store.scss */
.shopListContainer .shopItem .shopDetails {
  display: block;
  position: relative;
}
/* line 196, sass/store.scss */
.shopListContainer .shopItem .shopDetails .shopName {
  display: block;
  font-size: 18px;
  color: #000;
  line-height: 1.3em;
  margin-bottom: 10px;
}
/* line 203, sass/store.scss */
.mobile .shopListContainer .shopItem .shopDetails .shopName {
  font-size: 14px;
}
/* line 207, sass/store.scss */
.shopListContainer .shopItem .shopDetails .shopAddress {
  display: block;
  line-height: 1.3em;
  margin-bottom: 10px;
}
/* line 214, sass/store.scss */
.mobile .shopListContainer .shopItem[data-region="china"] .shopName {
  font-size: 14px;
}
/* line 218, sass/store.scss */
.shopListContainer .shopItem .shopTel {
  display: block;
  line-height: 1.3em;
}
/* line 221, sass/store.scss */
.shopListContainer .shopItem .shopTel a {
  color: #000;
}

/* line 230, sass/store.scss */
.norecords {
  display: none;
  position: relative;
  font-size: 21px;
  padding: 10px 0;
  line-height: 1.2em;
}

/* line 239, sass/store.scss */
.infoBox > img {
  position: absolute !important;
  right: 10px;
  top: 10px;
  width: 20px;
  stroke: #fff;
  fill: #fff;
  z-index: 4;
}

/* line 249, sass/store.scss */
.infobox {
  position: relative;
  width: 320px;
  color: #fff;
}
/* line 254, sass/store.scss */
.infobox .thumb {
  display: block;
  width: 320px;
  height: 200px;
}
/* line 259, sass/store.scss */
.mobile .infobox .thumb {
  display: none;
}
/* line 263, sass/store.scss */
.infobox a {
  color: #fff;
}
/* line 266, sass/store.scss */
.infobox .boxInner {
  padding: 22px 22px 18px;
  background: rgba(48, 48, 48, 0.9);
}
/* line 270, sass/store.scss */
.infobox .shopName {
  display: block;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 279, sass/store.scss */
.infobox .shopAddress {
  font-size: 14px;
  display: block;
  line-height: 1.5em;
}
/* line 284, sass/store.scss */
.infobox .shopTel {
  display: block;
  line-height: 1.5em;
}
/* line 288, sass/store.scss */
.mobile .infobox .shopTel {
  padding-left: 35px;
}
/* line 292, sass/store.scss */
.infobox .infoboxBottom {
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #303030 transparent transparent;
  opacity: 0.9;
}

/* line 308, sass/store.scss */
.baiduMap .infobox {
  color: #000;
}
/* line 311, sass/store.scss */
.baiduMap .BMap_Marker img {
  width: 100%;
  display: block;
}
